@{
    ViewBag.Title = "About";
}

<section class="pt-2">
    <div class="">
        <div class="col-12">
            <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image: url('../../assets/images/banner/about_2.jpg');background-position: center left;background-size: cover;">
                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                    <div class="w-100 my-auto">
                        <h2 class="text-white display-5">About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Wrapper-->
<div class="wrapper">
    <!-- About-->
    <section class="module">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="m-b-30"><img src="~/assets/images/about/about_1.jpg" alt="" width="100%" /></p>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h2>Easy and Simple.</h2>
                    <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-arrow-right me-1"></i> Web Design</li>
                        <li><i class="bi bi-arrow-right me-1"></i> Web Applications</li>
                        <li><i class="bi bi-arrow-right me-1"></i> Digital Strategy</li>
                        <li><i class="bi bi-arrow-right me-1"></i> Information Architecture</li>
                        <li><i class="bi bi-arrow-right me-1"></i> Copywriting</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="m-t-40 m-b-30">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-arrow-left-square"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>Mega Menus</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-moisture"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>Fully Responsive</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-emoji-smile"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>Friendly Support</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-map"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>Trendy Design</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-star"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>User Experience</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-4">
                        <div class="d-inline-block me-2 fs-3 text-primary"><span class="bi bi-layout-sidebar"></span></div>
                        <div class="icon-box-title d-inline-block">
                            <h6>Sidebars</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About-->
    <section class="module about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-9 m-auto text-center">
                    <h1>Digital Design.</h1>
                    <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-MY="60px"></div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8 d-flex align-items-stretch">
                    <img class="shadow" src="~/assets/images/about/about_3.jpg" alt="">
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <img class="shadow" src="~/assets/images/about/about_4.jpg" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="number-box">
                        <h6 class="mb-3"><span class="me-2 p-2 mb-2 border border-dark">01</span><span class="number-box-title">Development</span></h6>
                        <div class="number-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="number-box">
                        <h6 class="mb-3"><span class="me-2 p-2 mb-2 border border-dark">02</span><span class="number-box-title">Branding</span></h6>
                        <div class="number-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="number-box">
                        <h6 class="mb-3"><span class="me-2 p-2 mb-2 border border-dark">03</span><span class="number-box-title">Web Design</span></h6>
                        <div class="number-box-content">
                            <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About end-->
    
</div>
<!-- Wrapper end-->
