
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="pt-2">
    <div class="">
        <div class="col-12">
            <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image: url(~/assets/images/BlogImage/blog_0310202101.jpg);background-position: center left;background-size: cover;">
                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                    <div class="w-100 my-auto">
                        <h2 class="text-white display-5">Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
            <h2>Why work with us?</h2>
            <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="space" data-MY="60px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><img src="~/assets/images/service/service.png" alt="" width="100%" /></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-layout-media-left"></span></div>
                <div class="icon-box-title">
                    <h6>Mega Menus</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-desktop"></span></div>
                <div class="icon-box-title">
                    <h6>Fully Responsive</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-face-smile"></span></div>
                <div class="icon-box-title">
                    <h6>Friendly Support</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-marker-alt"></span></div>
                <div class="icon-box-title">
                    <h6>Trendy Design</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-star"></span></div>
                <div class="icon-box-title">
                    <h6>User Experience</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-layout-sidebar-right"></span></div>
                <div class="icon-box-title">
                    <h6>Sidebars</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-headphone-alt"></span></div>
                <div class="icon-box-title">
                    <h6>Great Support</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-layout-slider"></span></div>
                <div class="icon-box-title">
                    <h6>Lightbox</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box icon-box-left">
                <div class="icon-box-icon"><span class="ti-stats-up"></span></div>
                <div class="icon-box-title">
                    <h6>Animations</h6>
                </div>
                <div class="icon-box-content">
                    <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>
            </section>
<!-- Services end-->
<!-- Features-->
<section class="module divider-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h3>Why work with us?</h3>
                <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="60px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature">
                    <div class="feature-thumb"><img src="~/assets/images/service/1.jpg" alt="" width="100%" /></div>
                    <div class="py-4">
                        <h6>Web Design</h6>
                        <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        <a class="text-decoration-none" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <div class="feature-thumb"><img src="~/assets/images/service/2.jpg" alt="" width="100%" /></div>
                    <div class="py-4">
                        <h6>Plugin Development</h6>
                        <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        <a class="text-decoration-none" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <div class="feature-thumb"><img src="~/assets/images/service/3.jpg" alt="" width="100%" /></div>
                    <div class="py-4">
                        <h6>Theme Development</h6>
                        <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        <a class="text-decoration-none" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature end-->
